html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background: #f0eeee;
}

.container {
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1024px) {
  .header {
    background: #FFFFFF;
  }
}

.header__content {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__content {
    min-height: 174px;
  }
}

.header__logo img{
  padding-top: 20px;
  width: 93px;
  height: 27px;
}
@media (min-width: 1024px) {
  .header__logo img{
    width: 180px;
    height: 51px;
  }
}

.header__burger {
  background: #f0eeee;
  padding-top: 10px;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
}
@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}

.menu {
  display: block;
  position: absolute;
  top: 85px;
  left: -230px;
  width: 220px;
  height: 230px;
  background-color: rgb(173, 230, 178);
  overflow: auto;
  padding: 30px 0 0 10px;
  transition: transform .5s;
}
@media (min-width: 1024px) {
  .menu {
    display: block;
    list-style : none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    background-color: #FFFFFF;
    width: 55%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
  }
}
@media (min-width: 1120px) {
  .menu {
    width: 50%;
  }
}

.menu__link {
  padding-top: 20px;
}
@media (min-width: 1024px) {
  .menu__link {
    padding-top: 0px;
  }
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  font-size: 18px;
}

.header-btn {
  height: 50px;
  width: 140px;
  font-size: 16px;
  font-weight: 500;
  background: #75BF7A;
  border: 0;
}
@media (min-width: 1024px) {
  .header-btn {
    height: 50px;
    width: 182px;
    background: #75BF7A;
    font-size: 18px;
    border: 0;
    font-weight: 500;
    border-radius: 5px;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
  }
}

.header.open .menu {
  transform: translateX(100%);
}

.download-app {
  padding-top: 20px;
}

@media (min-width: 1024px) {
  .download-app__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.download-app__img {
  display: flex;
  justify-content: center;
}

.img-car {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .download-app__text {
    max-width: 530px;
    max-width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 140px;
  }
}

.download-app__title {
  height: 115px;
  padding-top: 30px;
  margin: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .download-app__title {
    height: 200px;
    padding-top: 0px;
  }
}

h1 {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  line-height: 35px;
}

@media (min-width: 1024px) {
  h1 {
    font-weight: 500 bold;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }
}

.download-app__subtitle p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #9E9DA2;
  padding-top: 20px;
}
@media (min-width: 640px) {
  .download-app__subtitle p {
    max-width: 420px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .download-app__subtitle p {
    max-width: 520px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .download-app__subtitle p {
    font-size: 22px;
    line-height: 25px;
    text-align: left;
    margin: 0;
    max-width: 550px;
  }
}

.download-app__btn-group {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
@media (min-width: 640px) {
  .download-app__btn-group {
    max-width: 340px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .download-app__btn-group {
    padding-top: 60px;
    max-width: 550px;
    margin: 0;
  }
}

button {
  height: 40px;
  width: 155px;
  background: #000000;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 0px;
  color: #FFFFFF;
}
@media (min-width: 1024px) {
  button {
    height: 60px;
    width: 250px;
    border-radius: 5px;
    font-size: 22px;
  }
}

.btn-left, .btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-btn {
  height: 18px;
  width: 18px;
  padding-right: 10px;
}
@media (min-width: 1024px) {
  .img-btn {
    height: 30px;
    width: 30px;
  }
}